<h1>結帳</h1>

<%= render "cart", cart: @cart %>

<%= simple_form_for @order do |f| %>
  <%= f.input :recipient %>
  <%= f.input :tel %>
  <%= f.input :email %>
  <div id="payment-form"></div>
  <%= f.submit %>
<% end %>

<script src="https://js.braintreegateway.com/js/braintree-2.32.0.min.js"></script>

<script>
var clientToken = "<%= @token %>";
braintree.setup(clientToken, "dropin", { container: "payment-form" });
</script>



